html, body
{
    height: 100%;
    color: black;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background-attachment: fixed;
}

#header
{
    display: block;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid black;
    position: relative;
    padding: 0;
}

#social
{
    position: absolute;
    top: 10px;
    right: 30px;
}

#social img
{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 30%;
}

a
{
    text-decoration: none;
}

*
{
    box-sizing: border-box;
}

#nav
{
    width: 250px;
    height: 100%;
    float: left;
}

#nav a, #nav a:visited
{
    color: black;
    font-weight: 600;
    display: block;
    border: 2px solid black;
    border-radius: 20px;
    width: 200px;
    background-color: white;
    text-align: center;
    height: 40px;
    padding: 10px;
    margin: 10px;
}

#nav a:hover
{
    background-color: #ffcdd5;
}

a.active
{
    background-color: #ffc0cb !important;
}

#nav li
{
    list-style: none;
}

#nav ul
{
    padding: 0;
}

#content
{
    height: 600px;
    float: left;
    padding: 15px;
    border-left: 1px solid black;
    width: calc(100% - 250px);
}

#title h2
{
    text-align: center;
    padding: 2px;
    margin: 0px;
}

#footer
{
    clear: both;
    height: 30px;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-top: 1px solid black;
}

#home_box
{
    width: 65%;
    display: block;
    text-align: center;
    border-radius: 20px;
    margin: auto;
}

.pics
{
    display: inline-block;
    margin: 5px;
}

.pics img
{
    border: 2px solid black;
    border-radius: 10px;
    width: 170px;
    height: 170px;
}

.pics p
{
    margin: 0;
}

.container
{
    padding: 20px;
}

input[type=text], input[type=email], textarea, select
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit]
{
    background-color: midnightblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

textarea
{
    height: 200px;
}

.top-bar
{
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
} /*Profile picture*/